doctype html
html
    head
        title Users
    body
        h1 Users List
        ul
            each user in users
                li
                    a(href=`/users/${user.id}`) #{user.name}
