<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
  </head>
  <body>
    <h1>Articles List</h1>
    <ul>
      <% articles.forEach(function(article) { %>
      <li>
        <a href="/articles/<%= article.id %>"><%= article.title %></a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
