<!DOCTYPE html>
<html>
  <head>
    <title>Article Details</title>
  </head>
  <body>
    <h1>Article Details</h1>
    <p>ID: <%= article.id %></p>
    <p>Title: <%= article.title %></p>
    <p>Content: <%= article.content %></p>
    <a href="/articles">Back to Articles List</a>
  </body>
</html>
