<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <div class="container">
      <h1>App Express</h1>
      <h2>Articles</h2>
      <ul>
        <% articles.forEach(article=> { %>
        <li>
          <a href="/articles/<%= article.id %>"> <%= article.title %> </a>
        </li>
        <% }) %>
      </ul>
      <button onclick="goBack()">Назад</button>
    </div>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
